p{
    color:rgb(72, 92, 16);
    width:500px;
    font-size: 20px;
    font-family: 'Acme', sans-serif;
    font-family: 'Lobster Two', cursive;
    font-family: 'ZCOOL XiaoWei', serif;
    font-style: oblique;
}
h1{
    font-size: 40px;
    font-family: 'Acme', sans-serif;
    font-family: 'ZCOOL XiaoWei', serif;
    font-family: 'Lobster Two', cursive;
    text-shadow: 2px 2px 1px rgb(52, 36, 145);
    margin: 0;
    padding: 20px 0;
}
ol{
    color:rgb(128, 86, 38);
    border:2px solid rgb(116, 98, 19);
    width:500px;
    font-size: 20px;

}
html {
    background-color: rgb(127, 214, 201);    
  }
  body{
    width: 600px;
    margin: 0 auto;
    background-color: #FF9500;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
  }
  
img {
    display: block;
    margin: 0 auto;
  }
  heading{
      color: blueviolet
  }